/* 언어 설정 */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');;

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

img {
    border: none;
    vertical-align: bottom;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

/* 레이아웃 */
header {
    position: fixed;
    background-color: #fff;
    width: 15%;
    height: 100%;
    opacity: 0.8;
}

nav {
    background-color: #212121;
    height: 35px;
    width: 85%;
    margin-left: 15%;
}

section {
    width: 85%;
    margin-left: 15%;
}

article {
    float: left;
    height: 260px;
    width: 20%;
}

/* 각각 박스 설정 */
article:nth-child(1) {
    background-color: rgb(224, 241, 255);
}
article:nth-child(2) {
    background-color: rgb(211, 221, 255);
}
article:nth-child(3) {
    background-color: rgb(217, 212, 255);
}
article:nth-child(4) {
    background-color: rgb(255, 218, 253);
}
article:nth-child(5) {
    background-color: rgb(255, 218, 218);
}
article:nth-child(6) {
    background-color: rgb(255, 229, 206);
}
article:nth-child(7) {
    background-color: rgb(255, 255, 210);
}
article:nth-child(8) {
    background-color: rgb(231, 255, 211);
}
article:nth-child(9) {
    background-color: rgb(210, 255, 226);
}
article:nth-child(10) {
    background-color: rgb(214, 255, 255);
}
article:nth-child(11) {
    background-color: rgb(216, 252, 255);
}
article:nth-child(12) {
    background-color: rgb(187, 223, 255);
}

/* 기본 설정 구간 (데스크탑 기준) */
article:nth-child(1) {
    width: 60%;
    height: 520px;
}
article:nth-child(2) {
    width: 40%;
}
article:nth-child(6) {
    width: 40%;
}
article:nth-child(9) {
    width: 40%;
}


/* header 설정 */
header {}
header h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 136px;
    background-image: url('img/bts_logo.jpg');
    text-indent: -9999px;
}
header .gnb {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    right: 30px;

}
header .gnb li {}
header .gnb li a {
    display: block;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: bold;
    color:#555;
}
header .gnb li i {
    margin-right: 20px;
}

header .snsSet {
    position: absolute;
    bottom: 50px;
    right: 50%;
    margin-right: -45px;
    width: 90px;
}

header .snsSet a {
    display: inline-block;
    float: left;
}
header .snsSet a img {}


/* nav 설정 */
nav {
    position: relative;
}
nav a {
    position: absolute;
    top: 5px;
}
nav a img {}

nav a:nth-child(1) {
    left: 10px;
}
nav a:nth-child(2) {
    left: 150px;
}
nav a:nth-child(3) {
    right: 90px;
}
nav a:nth-child(4) {
    right: 10px;
}

/* 배경 이미지 div 설정 */
.bg1 {background-image: url(img/bts1.jpg);}
.bg2 {background-image: url(img/bts2.png);}
.bg3 {background-image: url(img/bts3.png);}
.bg4 {background-image: url(img/bts4.jpg);}
.bg5 {background-image: url(img/bts5.jpg);}
.bg6 {background-image: url(img/bts6.jpg);}
.bg7 {background-image: url(img/bts7.jpg);}

/* article 설정 */
article>div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
article .bg {
    background-position: center;
    background-size: cover;
}
article span {
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(10);
    opacity: 0;
}

article .bg:hover span {
    transition: all 0.5s;
    transform: scale(1);
    opacity: 1;
}

article .bg1 span {
    font-size: 160px;
    bottom: -60px;
    transform: scale(1);
    opacity: 1;
}

article .txt {
    background-color: #fff;
    color: #333;
    padding: 20px 40px;
    box-sizing: border-box;
    transition: all 0.5s;
}

article:nth-child(3) .txt {
    background-color: #bff7fa;
}

article:nth-child(11) .txt {
    background-color: #e3f1fb;
}

article .txt i {
    position: absolute;
    font-size: 240px;
    color: #b2effc;
    right: 0;
    bottom: -60px;
    transition: all 0.5s;
    opacity: 0;
    right: -200px;
}

article:nth-child(3) .txt i {
    right: -60px;
    opacity: 1;
    color: #fff;
}

article .txt:hover i {
    opacity: 1;
    color: #b2effc;
    right: 0px;
}

article .txt:hover {
    background-color: #6ce2fb;
    color: #fff;
}



article .txt p {}
article .txt strong {
    font-size: 30px;
    font-weight: 400;
    display: block;
    color: #333;
    transition: all 0.5s; 
}

article .txt:hover strong {
    color: #fff;
}
article .txt em {}




/* 1번 구간 (1280px 이상 1599px 이하)############################################# */
@media(min-width:1280px) and (max-width:1599px) {

    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    
    nav {
        width: 100%;
        margin-left: 0%;
    }
    
    section {
        width: 100%;
        margin-left: 0%;
    }

/* header 설정 */
    header {}
    header h1 {
        top: 20px;
        left: 20px;
        margin-left: 0;
        width: 250px;
        height: 50px;
        background-image: url('img/logo2.png');
    }
    header .gnb {
        position: absolute;
        display: flex;
        top: 20px;
        margin-top: 0;
        right: 200px;

    }
    header .gnb li {}
    header .gnb li a {
        display: block;
        padding: 10px 30px;
        font-size: 17px;
        font-weight: bold;
        color:#555;
    }
    header .gnb li i {
        margin-right: 20px;
    }

    header .snsSet {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-right: 0;
        width: 90px;
    }

    header .snsSet a {
        display: inline-block;
        float: left;
    }
    header .snsSet a img {}

}


/* 2번 구간 (1024px 이상 1279px 이하 구간) ###########################################*/
@media(min-width:1024px) and (max-width:1279px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    
    nav {
        width: 100%;
        margin-left: 0%;
    }
    
    section {
        width: 100%;
        margin-left: 0%;
    }

    article {
        width: 25%;
    }

    article:nth-child(1) {
        width: 75%;
        height: 520px;
    }
    article:nth-child(2) {
        width: 25%;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        width: 50%;
    }
    article:nth-child(9) {
        width: 25%;
    }
    article:nth-child(10) {
        width: 50%;
    }


    /* header 설정 */
    header {}
    header h1 {
        top: 20px;
        left: 20px;
        margin-left: 0;
        width: 250px;
        height: 50px;
        background-image: url('img/logo2.png');
    }
    header .gnb {
        position: absolute;
        display: flex;
        top: 20px;
        margin-top: 0;
        right: 200px;
    }
    header .gnb li {}
    header .gnb li a {
        display: block;
        padding: 10px 10px;
        font-size: 17px;
        font-weight: bold;
        color:#555;
    }
    header .gnb li i {
        margin-right: 20px;
    }

    header .snsSet {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-right: 0px;
        width: 90px;
    }

    header .snsSet a {
        display: inline-block;
        float: left;
    }
    header .snsSet a img {}
}


/* 3번 구간 (780px 이상 1023px 이하 구간) ###########################################*/
@media(min-width:780px) and (max-width:1023px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    
    nav {
        width: 100%;
        margin-left: 0%;
    }
    
    section {
        width: 100%;
        margin-left: 0%;
    }

    article {
        width: 33.3333%;
    }

    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }
    article:nth-child(2) {
        width: 66.6666%;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(6) {
        width: 66.6666%;
    }
    article:nth-child(7) {
        width: 50%;
        display: none;
    }
    article:nth-child(9) {
        width: 33.3333%;
    }
    article:nth-child(10) {
        width: 50%;
        display: none;
    }
    article:nth-child(12) {
        display: none;
    }


    /* header 설정 */
    header {}
    header h1 {
        top: 20px;
        left: 20px;
        margin-left: 0;
        width: 250px;
        height: 50px;
        background-image: url('img/logo2.png');
    }
    header .gnb {
        position: absolute;
        display: flex;
        top: 20px;
        margin-top: 0;
        right: 20px;

    }
    header .gnb li {}
    header .gnb li a {
        display: block;
        padding: 10px 10px;
        font-size: 17px;
        font-weight: bold;
        color:#555;
    }
    header .gnb li i {
        margin-right: 20px;
    }

    header .snsSet {
        position: absolute;
        bottom: 50px;
        right: 50%;
        margin-right: -45px;
        width: 90px;
        display: none;
    }

    header .snsSet a {
        display: inline-block;
        float: left;
    }
    header .snsSet a img {}
}


/* 4번 구간 (640px 이상 779px 이하 구간) ###########################################*/
@media(min-width:640px) and (max-width:779px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    
    nav {
        width: 100%;
        margin-left: 0%;
    }
    
    section {
        width: 100%;
        margin-left: 0%;
    }

    article {
        width: 50%;
    }

    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }
    article:nth-child(2) {
        width: 100%;
    }
    article:nth-child(3) {
        display: none;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        width: 50%;
        display: none;
    }
    article:nth-child(9) {
        width: 50%;
    }
    article:nth-child(10) {
        width: 50%;
        display: none;
    }
    article:nth-child(12) {
        display: block;
    }


        /* header 설정 */
        header {}
        header h1 {
            top: 20px;
            left: 20px;
            margin-left: 0;
            width: 200px;
            height: 40px;
            background-image: url('img/logo2.png');
            background-size: contain;
        }
        header .gnb {
            position: absolute;
            display: flex;
            top: 20px;
            margin-top: 0;
            right: 20px;
    
        }
        header .gnb li {}
        header .gnb li a {
            display: block;
            padding: 10px 10px;
            font-size: 14px;
            font-weight: bold;
            color:#555;
        }
        header .gnb li i {
            margin-right: 10px;
        }
    
        header .snsSet {
            position: absolute;
            bottom: 50px;
            right: 50%;
            margin-right: -45px;
            width: 90px;
            display: none;
        }
    
        header .snsSet a {
            display: inline-block;
            float: left;
        }
        header .snsSet a img {}
    }


/* 5번 구간 (480px 이상 639px 이하 구간) ###########################################*/
@media(min-width:480px) and (max-width:639px) {
    header {
        position: relative;
        width: 100%;
        height: 130px;
    }
    
    nav {
        display: none;
        width: 100%;
        margin-left: 0%;
    }
    
    section {
        width: 100%;
        margin-left: 0%;
    }

    article {
        width: 50%;
        height: 150px;
    }

    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }
    article:nth-child(2) {
        width: 100%;
    }
    article:nth-child(3) {
        display: none;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        width: 50%;
        display: none;
    }
    article:nth-child(9) {
        width: 50%;
    }
    article:nth-child(10) {
        width: 50%;
        display: none;
    }
    article:nth-child(12) {
        display: block;
    }


    /* header 설정 */
    header {}
    header h1 {
        position: relative;
        top: 20px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 40px;
        background-image: url('img/logo2.png');
        background-size: contain;
    }
    header .gnb {
        position: relative;
        display: flex;
        top: 40px;
        margin-top: 0;
        right: 0;
        justify-content: space-around;

    }
    header .gnb li {}
    header .gnb li a {
        display: block;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: bold;
        color:#555;
    }
    header .gnb li i {
        margin-right: 10px;
    }

    header .snsSet {
        position: absolute;
        bottom: 50px;
        right: 50%;
        margin-right: -45px;
        width: 90px;
        display: none;
    }

    header .snsSet a {
        display: inline-block;
        float: left;
    }
    header .snsSet a img {}
}

/* 6번 구간 (479px 이하 구간) ###########################################*/
@media(max-width:479px) {
    header {
        position: fixed;
        width:100%;
        z-index: 10;
        background-color: transparent;
    }

    nav {
        display: none;
    }

    section {
        width:100%;
        margin-left: 0;
        z-index: 0;
    }
    article {
        display: none;
    }

    article:nth-child(1) {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
    }


/* header 설정 */
    header .gnb {
        right: 50%;
        margin-right: -125px;

    }
    header .gnb li {
        width: 250px;
        background-color: #000;
        border-radius: 4px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    header .gnb li a {
        display: block;
        
        font-weight: bold;
        color:#fff;
    }
    header .gnb li i {
        margin-right: 10px;
    }

    header .snsSet {
        position: absolute;
        bottom: 50px;
        right: 50%;
        margin-right: -45px;
        width: 90px;
        display: none;
    }
}

