/* 언어설정 */
@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

img {
    border: none;
    vertical-align: bottom;
}

/* 레이아웃 */
header {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #fff;
}

nav {
    background-color: #212121;
    width: 85%;
    height: 35px;
    margin-left: 15%;
}

section {
    width: 85%;
    margin-left: 15%;
}

article {
    width: 20%;
    height: 260px;
    float: left;
}

/* 각각 article 설정 */
article:nth-child(1) {background-color: #f9f5ff;}
article:nth-child(2) {background-color: #f3ebff;}
article:nth-child(3) {background-color: #e9dbff;}
article:nth-child(4) {background-color: #ddc6ff;}
article:nth-child(5) {background-color: #cfb0ff;}
article:nth-child(6) {background-color: #bf94ff;}
article:nth-child(7) {background-color: #af7aff;}
article:nth-child(8) {background-color: #9d5cff;}
article:nth-child(9) {background-color: #924aff;}
article:nth-child(10) {background-color: #8534ff;}
article:nth-child(11) {background-color: #761aff;}
article:nth-child(12) {background-color: #6600ff;}

/* 기본 설정 구간--------------------------------------------- */
article:nth-child(1) {
    width: 60%;
    height: 520px;
}
article:nth-child(2) {
    width: 40%;
}
article:nth-child(6) {
    width: 40%;
}
article:nth-child(9) {
    width: 40%;
}

/* header 설정 */

header h1 {
    position: absolute;
    background-image: url(img/logo1.png);
    width: 180px;
    height: 136px;
    top: 20px;
    left: 50%;
    margin-left: -90px;
    text-indent: -9999px;
}

header .gnb {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    right: 30%;
}
header .gnb ul {}
header .gnb ul li {}
header .gnb ul li a {
    display: block;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
header .gnb ul li i {
    margin-right: 12px;
}

header .snsSet {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -45px;
    width: 90px;

}
header .snsSet ul {}
header .snsSet ul li {}
header .snsSet ul li a {
    display: inline-block;
    float: left;
}
header .snsSet ul li a img {}

/* nav 설정 */
nav {
    position: relative;
}
nav {}
nav a {
    position: absolute;
    top: 5px;
}

nav a:nth-child(1) {
    left: 10px;
}

nav a:nth-child(2) {
    left: 140px;
}
nav a:nth-child(3) {
    right: 140px;
}
nav a:nth-child(4) {
    right: 10px;
}