<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃001(with.T)</title>

    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layou001_1.css">

    <!-- 그리드 가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>
    <header class="box1">
        <div class="box1-1">
            logo
        </div>
        <div class="box1-2">
            <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
            </ul>
        </div>
    </header>
    <div class="box2">Hero</div>
    <div class="box3">
        <div class="box3_inner">
            <p>Title</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem pariatur eveniet voluptatem sapiente aperiam incidunt similique, beatae deserunt deleniti. Sequi illum nostrum nihil consequuntur recusandae quod, ipsa excepturi quas.</p>
        </div>
    </div>
    <section class="box4">
        <div class="box4_inner">
            <article class="box4-1">
                <p>imgBox</p>
            </article>
            <article class="box4-2">txtBox</article>
        </div>
    </section>
    <section class="box5">
        <div class="box5_inner">
            <article class="box5-1"><p>imgBox1</p></article>
            <article class="box5-2"><p>imgBox2</p></article>
            <article class="box5-3"><p>imgBox3</p></article>
        </div>
    </section>
    <div class="box6">
        <p>Title</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem pariatur eveniet voluptatem sapiente aperiam incidunt similique, beatae deserunt deleniti. Sequi illum nostrum nihil consequuntur recusandae quod, ipsa excepturi quas.</p>
    </div>
    <div class="box7">
        <p>Title</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem pariatur eveniet voluptatem sapiente aperiam incidunt similique, beatae deserunt deleniti. Sequi illum nostrum nihil consequuntur recusandae quod, ipsa excepturi quas.</p>
    </div>
    <div class="box8">
        <div class="box8_inner">
            <div class="box8-1">siteMap</div>
            <div class="box8-2">bottom_logo</div>
            <div class="box8-3">contactBox</div>
        </div>
    </div>
</body>
</html>