<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout004</title>

    <!-- 외부 스타일 시트 연결 -->
    <link rel="stylesheet" href="layout004.css">

    <!-- 그리드 가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->

    <!-- remix icon 연결 -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    <header class="box1">
        <div class="box1-inner">
            <div class="logo">logo</div>
            <div class="nav">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">FIND US</a></li>
                    <li><a href="#">BARBERS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
            <div class="util">
                <a href="#">util</a>
            </div>
        </div>

    </header>
    <main id="wrap">
        <div class="box2">
            <div class="box2-inner">
                <div class="hero">
                    <div class="txtBox">
                        <div class="subtitle">
                            첫 방문 고객 EVENT
                        </div>
                        <div class="title">
                            BarberShop
                        </div>
                        <div class="btn">예약하기</div>
                    </div>
                    <div class="imgBox">
                        <img src="img/layout004/box2-bg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

            <div class="box3">
                <div class="box3-inner">
                    <div class="titleBox">
                        <strong>About Us</strong>
                        <p>현대 남성을 위한 세련되고 편안한 분위기에서 휴식을 취하며, 
                            <br>간단하게 주류나 음료를 즐기며 바버와 관계를 쌓아나갈 수 있는 공간입니다. </p>
                    </div>
                    
                    <div class="listBox">
                        <div class="listBox1">
                            <ul>
                                <li><img src="img/layout004/box3-1.jpg" alt=""></li>
                                <li><strong>인증된 제품 사용</strong></li>
                                <li><p>Established in the winter of 2013</p></li>
                            </ul>
                        </div>
                        <div class="listBox2">
                            <ul>
                                <li><img src="img/layout004/box3-2.jpg" alt=""></li>
                                <li><strong>10년 경력의 전문가들</strong></li>
                                <li><p>Established in the winter of 2013</p></li>
                            </ul>
                        </div><div class="listBox3">
                            <ul>
                                <li><img src="img/layout004/box3-3.jpg" alt=""></li>
                                <li><strong>시술 전 상담 필수</strong></li>
                                <li><p>Established in the winter of 2013</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box4">
                <div class="box4-inner">
                    <div class="box4-1">
                        <div class="txtBox">
                            <div class="title">HERR BARBERSHOP, SEOUL</div>
                            <div class="txt">2013년도 겨울, 한남본점으로 시작한 헤아는 평소 남성들이 기존 헤어 살롱에서 느끼지 못했던 
                                <br>숙련된 기술과 서비스를 통해 자신의 멋진 모습을 표출할 수 있는 환경을 만들기를                            
                                <br>지속적으로 갈망하고 있습니다. 현대 남성을 위한 세련되고 편안한 분위기에서 휴식을 취하며, 
                                <br>간단하게 주류나 음료를 즐기며 바버와 관계를 쌓아나갈 수 있는 공간입니다. </div>
                            <div class="btn">
                                <p>more<i class="ri-arrow-right-s-line"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="box4-2">
                        <ul class="listBox">
                            <li>
                                <p class="icon">✂</p>
                                <div class="txtBox">
                                    <strong>인증된 제품 사용</strong>   
                                    <p>당신의 특별한 날, 또는 그냥 당신에게 필요한 편안한 휴식을 취하고 싶다면
                                        <br>헤아를 방문해서 따뜻한 습식 면도와 헤어 커트와 같은 특별한 서비스를 경험해보세요. </p> 
                                </div>   
                            </li>
                            <li>
                                <p class="icon">✂</p>
                                <div class="txtBox">
                                    <strong>인증된 제품 사용</strong>   
                                    <p>당신의 특별한 날, 또는 그냥 당신에게 필요한 편안한 휴식을 취하고 싶다면
                                        <br>헤아를 방문해서 따뜻한 습식 면도와 헤어 커트와 같은 특별한 서비스를 경험해보세요. </p> 
                                </div>   
                            </li>
                            <li>
                                <p class="icon">✂</p>
                                <div class="txtBox">
                                    <strong>인증된 제품 사용</strong>   
                                    <p>당신의 특별한 날, 또는 그냥 당신에게 필요한 편안한 휴식을 취하고 싶다면
                                        <br>헤아를 방문해서 따뜻한 습식 면도와 헤어 커트와 같은 특별한 서비스를 경험해보세요. </p> 
                                </div>   
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        <div class="box5">
            <div class="box5-inner">
                <div class="titleBox">
                    <div class="title">바버샵이 낯선 당신을 위해</div>
                    <p>저희 모두가 노력하겠습니다.</p>
                </div>
                <div class="textBox">
                    <p>For an exceptional experience of HERR services, 
                        <br>visit our barbershop and enjoy a hot lather shave and haircut, for that special engagement,
                        <br>business meeting, or simply just to relax and unwind.</p>
                </div>
            </div>
        </div>
    </main>

















    <!-- 학습용--------------------------------------------------- -->
    <!-- <p class="img">
        <img src="https://picsum.photos/id/78/1000/1000" alt="">
    </p> -->


</body>
</html>