<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout003</title>
</head>

<!-- 외부스타일시트 연결 -->
<link rel="stylesheet" href="layout003.css">

<!-- 그리드가이드 연결 
<link rel="stylesheet" href="grid-guide.css">-->

<!-- remix icon 연결 -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<body>
    <div class="box1">
        <div class="box1-1 logo">
            <h1>logo</h1>
        </div>
        <div class="box1-2 gnb">
            <ul>
                <li><a href="#">특가</a></li>
                <li><a href="#">이벤트</a></li>
                <li><a href="#">베스트</a></li>
                <li><a href="#">쇼케이스</a></li>
                <li><a href="#">라이브</a></li>
                <li><a href="#">FOR ME</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="box2-1 hero">
            <div class="txtBox">
                <p>피부에 닿는 순간 느끼는
                    <br>#초현실 수분력</p>
                <p><strong>빠르고 깊게 흡수된 수분</strong>이
                    <br>72시간 지속되는 남다른 수분력과 기술의 차이</p>
            </div>
            <div class="imgBox">
                <img src="img/layout003/box2-0.jpg" alt="">
            </div>
        </div>
        <div class="box2-2 localMenu">
            <a href="#">
                <div class="menu1">
                    <p>1.4배</p>
                    <span>보습 개선 속도</span>
                </div>
            </a>
            <a href="#">
                <div class="menu2">
                    <p>1.17배</p>
                    <span>보습량 전달</span>
                </div>
            </a>
            <a href="#">
                <div class="menu3">
                    <p>5.7배</p>
                    <span>흡수량 향상</span>
                </div>
            </a>
            <a href="#">
                <div class="menu4">
                    <p>7.6배</p>
                    <span>지속력 향상</span>
                </div>
            </a>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>오직 공식몰에서만!</h1>
            <p>[그린티 씨드 히알루론산 세럼 80mL + 비타C 그린티 엔자임 잡티 토닝 세럼 30mL + 레티놀 시카 흔적 앰플 30mL]</p>
        </article>
        <div class="box3-2">
            <div class="imgBox">
                <img src="https://images.innisfree.co.kr/upload/product/36820_ui.jpg" alt="">
            </div>
            <div class="listBox">
                <ul>
                    <li>
                        <a href="#">
                            <div class="imgBox"><img src="https://images.innisfree.co.kr/upload/product/36824_ui.jpg" alt=""></div>
                            <strong>수분장벽!? 이제는 탄력장벽</strong>
                            <p>콜라겐 블프 박스 (콜라겐크림 50mL + 증정)</p>
                            </a>
                    </li>
                    <li>
                        <a href="#">
                        <div class="imgBox"><img src="https://images.innisfree.co.kr/upload/product/36823_ui.jpg?T202311091457" alt=""></div>
                        <strong>겨울엔 역시 블랙티🤎</strong>
                        <p>블랙티 블프 박스 (블랙티 앰플 50mL + 증정)</p>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box4">
        <h2>트러블 끝장케어 BEST ITEM</h2>
        <div class="box4-inner">
            <div class="box4-1">
                <div class="listBox">
                    <ul>
                        <li>
                            <div class="emoji">👑</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                        <li>
                            <div class="emoji">💚</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                        <li>
                            <div class="emoji">🌿</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                        </li>
                        <li>
                            <div class="emoji">🏅</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="imgBox">
                    <ul> <!--ul의 크기값(width, height)을 설정한 후 relative를 준다
                        모든 li들을 똑같이 같은 구간에 붙여놓는다 4번의 이미지가 보이는게 맞다-->
                        <li><img src="https://images.innisfree.co.kr/upload/product/36592_p_S_667.png" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36593_p_S_667.jpg" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36137_l_S_667.png" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36436_l_S_667.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <div class="title">
                민규와 함께 하는 INNISFREE
            </div>
            <div class="listBox">
                <ul>
                    <li>
                        <div class="emoji">🌿</div>
                        <p>23.11.8~23.11.12블랙프라이데이 세일
                            <br>~75% 우주급 혜택! - 1탄</p>
                    </li>
                    <li>
                        <div class="emoji">🌿</div>
                        <p>23.11.8~23.11.19블프
                            <br>쇼핑 필수템 이니 베스트셀러 쟁임찬스</p>
                    </li>
                </ul>
            </div>
            <div class="btnBox">
                <p><a href="#">쿠폰 받기</a></p>
                <p><a href="#">블프 목록 보기</a></p>
            </div>
        </div>
        <div class="box5-2">
            <img src="img/layout003/box5-2-img.jpg" alt="">
        </div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <strong>with</strong>
            <p>THE ISLE 바운싱 해변의 에너지를
                <br>가득 담아 탄탄하게 끌어올린
                <br>놀라운 탄력장벽의 힘</p>
        </div>
        <div class="box6-2">
            <video autoplay muted>
                <source src="img/layout003/box6.mp4">
            </video>
        </div>
        <div class="box6-3">
            <strong>Mingyu</strong>
            <p>가볍지만 탄탄하고 확실하게
                <br>통통 튀는 농구공처럼
                <br>피어오르는 피부 탄력을 경험해보세요.</p>
        </div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <div class="container">
                <img src="img/layout003/box7-1.jpg" alt="">
            </div>
            <p class="left"><i class="ri-arrow-left-s-line"></i></p>
            <p class="right"><i class="ri-arrow-right-s-line"></i></p>
        </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="img/layout003/box7-1.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-2.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-3.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-4.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-5.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-6.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-7.jpg" alt=""></li>
                    <li><img src="img/layout003/box7-8.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-1">
            <img src="https://images.innisfree.co.kr/resources/web2/images/about/230228/brandStory_bg0308.png" alt="">
        </div>
        <div class="box8-2">
            <div class="txtBox">
                <div class="txtBox-1">
                    <p>Save the Earth</p>
                    <h3>Recycled Papers</h3>
                    <p class="info">이니스프리는 플라스틱 비닐 소재의 포장재 대신 FSC 인증을 받은 종이 포장재와 박스를
                        <br>사용하여 환경에 불필요하게 미치는 영향을 최소화 했습니다.
                        <br><br>배송박스를 받으신 후에는 종이류로 분리배출하여 지구를 위한
                        <br>이니스프리의 실천에 함께 해주세요!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box9">
        <div class="box9-1 txtBox">
            <h3>JOIN INNISFREE!</h3>
            <p>지금 회원가입하고 다양한 헤택과 정보를 받아보세요</p>
        </div>
        <div class="box9-2 login-form">
            <form>
                <input type="text" name="email" class="text-field" placeholder="아이디"><br>
                <input type="password" name="password" class="text-field" placeholder="비밀번호"><br>
                <input type="submit" value="로그인" class="submit-btn">
            </form>
        </div>
    </div>
    <div class="box10">
        <div class="box10-1 logo">
            bottomLogo
        </div>
        <div class="box10-2">
            <ul>
                <li><a href="#">서비스 이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">영상정보처리기기 운영/관리 방침</a></li>
                <li><a href="#">공지사항</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
