<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 001</title>
</head>

<!-- 외부스타일시트 연결 -->
<link rel="stylesheet" href="layout001.css">

<!-- 그리드 가이드 연결
<link rel="stylesheet" href="grid-guide.css"> -->

<body>
    <div class="box1">
        <div class="logo">
            <h1>logo</h1>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="title">Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia perspiciatis vitae maxime, minus iure voluptas facilis consequatur commodi minima voluptate dicta magni, modi sunt! Minus iure recusandae velit quos!</p>
        <div class="btn">button</div>
    </div>

    <div class="box3">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>
    </div>

    <div class="box4">
        <div class="imgBox">
            imgBox
        </div>

        <div class="txtBox">
            <div class="title">
                Title
            </div>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia perspiciatis vitae maxime, minus iure voluptas facilis consequatur commodi minima voluptate dicta magni, modi sunt! Minus iure recusandae velit quos!</p>
    
            <div class="btn">
                button
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5_innerBox">
            <div class="box5-1">
                <div class="imgBox">imgBox</div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="box5-2">
                <div class="imgBox">imgBox</div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="box5-3">
                <div class="imgBox">
                    imgBox
                </div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
    <div class="box6">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>
    </div>
    <div class="box7">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>
    </div>
    <div class="box8">
            <div class="quick">
                <ul>
                    <li><a href="#">quick</a></li>
                    <li><a href="#">quick</a></li>
                    <li><a href="#">quick</a></li>
                </ul>
            </div>

            <div class="logo">
                logo
            </div>

            <div class="siteMap">
                <ul>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">LOCATION</a></li>
                </ul>
            </div>
    </div>
</body>
</html>