<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout003</title>
</head>

<!-- 외부스타일시트 연결 -->
<link rel="stylesheet" href="layout003.css">

<!-- 그리드가이드 연결 
<link rel="stylesheet" href="grid-guide.css">-->
<body>
    <div class="box1">
        <div class="box1-1 logo">
            <h1>logo</h1>
        </div>
        <div class="box1-2 gnb">
            <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
                <li><a href="#">menu5</a></li>
                <li><a href="#">menu6</a></li>
                <li><a href="#">menu7</a></li>
                <li><a href="#">menu8</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="box2-1 hero">
            <div class="txtBox">
                <p>피부에 닿는 순간 느끼는
                    <br>#초현실 수분력</p>
                <p><strong>빠르고 깊게 흡수된 수분</strong>이
                    <br>72시간 지속되는 남다른 수분력과 기술의 차이</p>
            </div>
            <div class="imgBox">
                <img src="img/layout003/box2-0.jpg" alt="">
            </div>
        </div>
        <div class="box2-2 localMenu">
            <a href="#">
                <div class="menu1">
                    <p>1.4배</p>
                    <span>보습 개선 속도</span>
                </div>
            </a>
            <a href="#">
                <div class="menu2">
                    <p>1.17배</p>
                    <span>보습량 전달</span>
                </div>
            </a>
            <a href="#">
                <div class="menu3">
                    <p>5.7배</p>
                    <span>흡수량 향상</span>
                </div>
            </a>
            <a href="#">
                <div class="menu4">
                    <p>7.6배</p>
                    <span>지속력 향상</span>
                </div>
            </a>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>오직 공식몰에서만!</h1>
            <p>[그린티 씨드 히알루론산 세럼 80mL + 비타C 그린티 엔자임 잡티 토닝 세럼 30mL + 레티놀 시카 흔적 앰플 30mL]</p>
        </article>
        <div class="box3-2">
            <div class="imgBox">
                <img src="https://images.innisfree.co.kr/upload/product/36820_ui.jpg" alt="">
            </div>
            <div class="listBox">
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://images.innisfree.co.kr/upload/product/36824_ui.jpg" alt="">
                            <strong>Title</strong>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eaque dolorum? Earum, eligendi</p>
                            </a>
                    </li>
                    <li>
                        <a href="#">
                        <img src="https://images.innisfree.co.kr/upload/product/36823_ui.jpg?T202311091457" alt="">
                        <strong>Title</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eaque dolorum? Earum, eligendi</p>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box4">
        <h2>트러블 끝장케어 BEST ITEM</h2>
        <div class="box4-inner">
            <div class="box4-1">
                <div class="listBox">
                    <ul>
                        <li>
                            <div class="emoji">👑</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                        <li>
                            <div class="emoji">💚</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                        <li>
                            <div class="emoji">🌿</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                        </li>
                        <li>
                            <div class="emoji">🏅</div>
                            <div class="txtBox">
                                <strong>레티놀 시카 앰플[대용량] 50mL + 레티놀 시카 크림 50mL</strong>
                                <p>레티놀과 시카 성분을 함유한 제형이 외부 환경에
                                    <br>쉽게 자극받아 연약해진 피부를 건강하게 케어하는 피부 보호막 크림</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="imgBox">
                    <ul> <!--ul의 크기값(width, height)을 설정한 후 relative를 준다
                        모든 li들을 똑같이 같은 구간에 붙여놓는다 4번의 이미지가 보이는게 맞다-->
                        <li><img src="https://images.innisfree.co.kr/upload/product/36592_p_S_667.png" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36593_p_S_667.jpg" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36137_l_S_667.png" alt=""></li>
                        <li><img src="https://images.innisfree.co.kr/upload/product/36436_l_S_667.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <div class="title">
                민규와 함께 하는 INISFREE
            </div>
            <div class="listBox">
                <ul>
                    <li>
                        <div class="emoji">🌿</div>
                        <p>23.11.8~23.11.12블랙프라이데이 세일
                            <br>~75% 우주급 혜택! - 1탄</p>
                    </li>
                    <li>
                        <div class="emoji">🌿</div>
                        <p>23.11.8~23.11.19블프
                            <br>쇼핑 필수템 이니 베스트셀러 쟁임찬스</p>
                    </li>
                </ul>
            </div>
            <div class="btnBox">
                <p><a href="#">button</a></p>
                <p><a href="#">button</a></p>
            </div>
        </div>
        <div class="box5-2">
            <img src="img/layout003/box5-2-img.jpg" alt="">
        </div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <strong>Title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eaque dolorum</p>
        </div>
        <div class="box6-2">
            이미지를 넣어주세요
        </div>
        <div class="box6-3">
            <strong>Title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eaque dolorum</p>
        </div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <div class="container">
                이미지를 넣어주세요
            </div>
            <p class="left">L</p>
            <p class="right">R</p>
        </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                    <li><img src="" alt="">img</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-1">
            이미지 박스
        </div>
        <div class="box8-2">
            <div class="txtBox">
                <p>lorem Ipsum</p>
                <h3>Lorem ipsum dolor sit</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla est fugit, dolorem molestiae minima dolore quasi ratione fuga quod praesentium</p>
            </div>
        </div>
    </div>
    <div class="box9">
        <div class="box9-1 txtBox">
            <h3>JOIN INISFREE!</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, culpa tempora exercitationem fugiat, numquam impedit, cupiditate quisquam explicabo accusamus.</p>
        </div>
        <div class="box9-2 login-form">
            <form>
                <input type="text" name="email" class="text-field" placeholder="아이디"><br>
                <input type="password" name="password" class="text-field" placeholder="비밀번호"><br>
                <input type="submit" value="로그인" class="submit-btn">
            </form>
        </div>
    </div>
    <div class="box10">
        <div class="box10-1 logo">
            bottomLogo
        </div>
        <div class="box10-2">
            <ul>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
