/* 언어설정 */
@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: none;
    vertical-align: bottom;
}

/* box1 설정 */
.box1-1 {
    display: none;
}

.util {
    background-color: #eee;
    height: 40px;
}

.util ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    
}

.util li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.util li a {
    display: block;
    padding: 0 20px;
    font-size: 12px;
}
.util li a:hover {
    color: #a16172;
}

.box1-2 {}
.header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.header h1 {
    width: 20%;
    height: 100%;
}
.header .gnb {
    width: 80%;
}
.gnb ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.gnb li {}
.gnb a {
    display: block;
    padding: 20px;
    font-size: 20px;
}
.header span {
    font-size: 50px;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.1;
    right: 0;
    top: 0;
}
/* 모바일일 때 gnb 가리기 */
.header .gnb {
    display: none;
}

.box1-3 {
    height: 80vh;
    background-image: url(https://windowsforum.kr/files/attach/images/2966154/565/586/013/6836be90a5c63b211037786c5597ac4b.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero .title {
    font-size: 60px;
    margin-bottom: 30px;
}
.hero .txtBox {
    width: 40%;
    /* height: 50%; */
    font-size: 20px;
}
.hero .more {
    background-color: #eee;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.hero .more:hover {
    opacity: 0.6;
}

/* 태블릿일 때 hero 안보이게 설정 */
.hero {
    display: none;
}

/* box2 설정 */
.box2>div {
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 250px;
    position: relative;
}
.box2>div:nth-child(1){
    background-color: #f5f4ea;
}
.box2>div:nth-child(2){
    background-color: #f1efdc;
}
.box2>div:nth-child(3){
    background-color: #dbd9bf;
}
.box2>div:nth-child(4){
    background-color: #bfbc96;
}

.box2 strong {
    font-size: 22px;
    display: block;
    margin-bottom: 20px;
}
.box2 p {
    width: 80%;
}
.box2 span {
    border: 1px solid #000;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


/* box3 설정 */
.box3>div{
    height: 450px;
}
.box3>div:nth-child(1) {
    background-color: #fff;
}
.box3>div:nth-child(2) {
    background-color: #f5f4ea;
}
.box3>div:nth-child(3) {
    background-color: #f1efdc;
}
.box3>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 10px;
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
}
.box3 .txtBox {
    width: 100%;
    padding-bottom: 20px;
}
.txtBox strong {
    font-size: 22px;
    display: block;
    margin-bottom: 20px;
}
.txtBox p {
    margin-bottom: 30px;
}
.txtBox span {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 30px;
}
.box3 .imgBox {
    width: 100%;
}
.imgBox {
    height: 60%;
    overflow: hidden;
    align-self: flex-end;
}
.imgBox img {
    width: 100%;
}

/* box4 설정 */
.box4 {
    padding: 20px 0 0 0;
    height: auto;
    position: relative;
}
.box4-1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box4-1>div {
    width: 100%;
    height: 100%;
}

.map {
    text-align: center;
}
.box4-1 h3 {
    font-size: 28px;
    margin-bottom: 10px;
}
.mapBox {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapBox iframe {
    width: 100%;
    height: 80%;
}
.mapBox ul {
    margin-left: 20px;
}
.mapBox li {
    padding: 10px;
}
/* Flex로 설정 */
/* .snsSet {
    background-color: #a16172;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.snsSet ul {
    display: flex;
    justify-content: flex-end;
} */

/* Position으로 설정 */
.box4-1>div.snsSet {
    position: relative;
    height: 300px;
}
.snsSet h3 {
    position: absolute;
    right: 50%;
    margin-right: -100px;
    bottom: 50%;
    width: 200px;
    text-align: center;
}
.snsSet ul {
    position: absolute;
    right: 50%;
    margin-right: -100px;
    bottom: 50%;
    margin-bottom: -50px;
    /* width: 200px; */
    height: 50px;
}
.snsSet li {
    float: left;
}


.snsSet li {}
.snsSet a {}

.box4-2 {
    padding: 20px;
    background-color: #bfbc96;
    box-sizing: border-box;
}
.top {
    position: fixed;
    width: 50px;
    height: 50px;
    /* border: 1px solid #000; */
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20%;
    /* background-color: #fff; */
    cursor: pointer;
}

/* 미디어쿼리구간--------------------------------------------------------------- */

/* 태블릿 구간 768px 이상 구간*/
@media(min-width:768px) {

    /* box1 설정 */

    /* box2 설정 */
    .box2 {
        display: flex;
        flex-wrap: wrap;
    }
    .box2>div {
        width: 50%;
    }

    /* box3 설정 */
    .box3>div>div {
        flex-direction: row;
    }
    /* box3 설정 */
    .box3>div{
        height: 300px;
    }
    .box3>div>div {
        align-items: flex-start;
        height: 100%;
    }
    .box3 .txtBox {
        width: 60%;
    }
    .txtBox strong {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .txtBox p {
        margin-bottom: 30px;
    }
    .txtBox span {
        padding: 10px 30px;
    }

    .box3 
    .imgBox {
        width: 30%;
        height: 60%;
        overflow: hidden;
        align-self: flex-end;
    }

} /* 태블릿 구간 종료^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* 데스크탑 구간 1024px 이상 구간*/
@media(min-width:1024px) {

    /* box1 설정 */
    .box1-1 {
        display: block !important;
        /* important는 css 중에서 우선 순위로 먼저 지정하고 가라는 의미로
        css 파일 중 1회만 사용 권고! */
    }
    .header .gnb {
        display: block;
    }

    .header span {
        display: none;
    }

    .hero {
        display: flex;
    }
    
    /* box2 설정 */
    .box2>div {
        width: 25%;
    }


    /* box3 설정 */
    .box3>div>div {
        width: 90%;
        margin-left: auto;
    }

    /* box4 설정 */
    .box4-1 {
        flex-direction: row;
        height: 300px;
    }
    .box4-1>div {
        width: 50%;
    }

    .map {
        text-align: left;
    }

    .mapBox {
        width: 70%;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mapBox iframe {
        width: 80%;
        height: 80%;
    }

    .box4-1>div.snsSet {
        position: relative;
        height: 300px;
    }
    .snsSet h3 {
        position: absolute;
        right: 0;
        margin-right: 0;
        bottom: 60px;
        width: 200px;
        text-align: right;
    }
    .snsSet ul {
        position: absolute;
        right: 0;
        margin-right: 0;
        bottom: 0;
        margin-bottom: 0;
        /* width: 200px; */
        height: 50px;
    }
    .snsSet li {
        float: left;
    }

}
/* 데스크탑 구간 종료 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */