<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃002</title>
    
    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout002.css">

    <!-- 그리드가이드 연결 -->
    <link rel="stylesheet" href="grid-guide.css">

    <!-- remix icon 연결 -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- 제이쿼리 cdn 연결 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- 외부스크립트 연결 -->
    <script src="layout002.js"></script>
</head>

<body>
    <div class="box1">
        <div class="box1-inner">
            <div class="logo">logo</div>
            <div class="box1-1">
                <ul>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                </ul>
            </div>
            <div class="box1-2">
                <ul>
                    <li><a href="#">util</a></li>
                    <li><a href="#">util</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="box2-inner">
            <div class="box2-1">
                <p class="title">Lorem ipsum dolor,<br>
                    sit amet consectetur<br>
                    adipisicing elit.</p>
                <p class="txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, mollitia delectus rem eius aperiam nisi facere! Temporibus fugiat magni molestias commodi, tempora quaerat distinctio maiores, autem velit non fugit inventore.</p>
            </div>
            <div class="box2-2">이미지 박스</div>
            <div class="box2-3">
                <div class="btn">
                    자세히 보러가기
                </div>
            </div>
        </div>
    </div>
    <div class="box3">
        <div class="box3-inner">
            <div></div>
            <div class="article">
                <p>title</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat iusto soluta sed beatae numquam atque fugit, praesentium voluptatum minima voluptatem sit vel consequatur? Atque cupiditate voluptatem nihil repudiandae ullam!</p>
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="box4-inner">
            <h2>Title</h2>
            <ul>
                <li>
                    <i class="ri-thumb-up-line"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam alias mollitia asperiores, debitis magnam corporis vel, voluptatum saepe ea veritatis obcaecati consectetur distinctio voluptates quisquam neque labore ut modi?</p>
                </li>
                <li>
                    <i class="ri-thumb-up-line"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam alias mollitia asperiores, debitis magnam corporis vel, voluptatum saepe ea veritatis obcaecati consectetur distinctio voluptates quisquam neque labore ut modi?</p>
                </li>
                <li>
                    <i class="ri-thumb-up-line"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam alias mollitia asperiores, debitis magnam corporis vel, voluptatum saepe ea veritatis obcaecati consectetur distinctio voluptates quisquam neque labore ut modi?</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="box5">
        <div class="box5-inner">
            <h2>Title</h2>
            <div class="prod">
                <div class="prod-1">
                    <img src="https://image.msscdn.net/images/goods_img/20230525/3325728/3325728_16849989727151_500.png" alt="" width="400px">
                    <div class="txtBox">
                        <div class="title">Huxley</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <br>Ut ducimus maiores dolores eum corrupti enim</p>
                    </div>
                    <div class="btn">더보기</div>
                </div>

                <div class="prod-2">
                    <img src="https://image.msscdn.net/images/goods_img/20230525/3325728/3325728_16849989727151_500.png" alt="" width="400px">
                    <div class="txtBox">
                        <div class="title">Huxley</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <br>Ut ducimus maiores dolores eum corrupti enim</p>
                    </div>
                    <div class="btn">더보기</div>
                </div>

                <div class="prod-3">
                    <img src="https://image.msscdn.net/images/goods_img/20230525/3325728/3325728_16849989727151_500.png" alt="" width="400px">
                    <div class="txtBox">
                        <div class="title">Huxley</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <br>Ut ducimus maiores dolores eum corrupti enim</p>
                    </div>
                    <div class="btn">더보기</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box6">
        <div class="box6-inner">
            <h2>title</h2>
            <div class="box6-1">
                <div class="imgBox">이미지박스</div>
                <div class="txtBox">텍스트박스</div>
            </div>
            <div class="box6-2">
                <div class="imgBox">이미지박스</div>
                <div class="txtBox">텍스트박스</div>
            </div>
            <div class="box6-3">
                <div class="imgBox">이미지박스</div>
                <div class="txtBox">텍스트박스</div>
            </div>
        </div>
    </div>
    <div class="box7">
        <div class="box7-inner">
            <div class="txtBox">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, corrupti! Quaerat quibusdam delectus officiis architecto, excepturi odio vero dicta aliquid nulla! Blanditiis quia quis velit impedit corrupti aliquid architecto nostrum.</p>
                <p>more</p>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-inner">
            <h2>Title</h2>
            <div class="container">
                <ul>
                    <li>img</li>
                    <li>img</li>
                    <li>img</li>
                </ul>
            </div>
            <p class="left">left</p>
            <p class="right">right</p>
        </div>
    </div>
    <div class="box9">
        <div class="box9-inner">
            <div class="box9-1">텍스트박스</div>
            <div class="box9-2">맵박스</div>
        </div>
    </div>
    <div class="box10">
        <div class="box10-inner">
            <div class="box10-1">
                <p class="title">title</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box10-2">
                <p class="title">title</p>
                <ul>
                    <li><a href="#">Insta</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>