<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 000</title>

    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout000.css">

    <!-- 그리드가이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->

</head>
<body>
    <div class="box1">
        <div class="box1-1">
            <ul class="navi">
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>

        <div class="box1-2">headline</div>
    </div>

    <div class="box2">
        <div class="box2-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
        <div class="box2-2">imgBox</div>
    </div>

    <div class="box3">
        <h2>Title</h2>
        <p>Icon</p>
        <div>별점 Set</div>
    </div>

    <div class="box4">
        <div class="box4-1">imgBox</div>
        <div class="box4-2"><h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
    </div>

    <div class="box5">
        <h2>Title</h2>
        <p>Icon</p>
        <div>어워드 Set</div>
    </div>

    <div class="box6">
        <div class="box6-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
        <div class="box6-2">imgBox</div>
    </div>

    <div class="box7">
        <div class="box7-1">
            <h2>Title</h2>
            <div>Icon Set</div>
        </div>
        <div class="box7-2">
            <ul>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
            </ul>
        </div>
    </div>






</body>
</html>