<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>

    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="me_007.css">

    <!-- 그리드가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->

    <!-- 나눔명조 연결 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-myeongjo.css" rel="stylesheet">

    <!-- remix icon 연결 -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div class="box1">
        <div class="box1-inner">
            <ul>
                <li><a href="#"><i class="ri-search-line"></i></a></li>
                <li><a href="#"><i class="ri-user-line"></i></a></li>
                <li><a href="#"><i class="ri-shopping-bag-line"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="box2">
        <div class="box2-inner">
            <h1>logo</h1>
            <div class="ico">
                <i class="ri-menu-line"></i>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#">쇼핑하기</a></li>
                    <li><a href="#">선물하기</a></li>
                    <li><a href="#">서비스</a></li>
                    <li><a href="#">조 말론 런던 하우스</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="box3">
        <div class="box3-inner">
            <div class="title">
                어디에나 어울리는 클래식 제품
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>Sunt eius, dolorum veritatis maiores similique mollitia!
                <br>Officia dicta, eligendi reiciendis labore ipsum quas!
                <br>Qui, harum? Quia eligendi ullam reiciendis quos asperiores?
            </p>
            <div class="btn">
                자세히 보기
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="box4-inner">
            <div class="box4-1">
                <div class="content">
                    <div class="title">Lime Basil & Mandarin Car Diffuser</div>
                    <p>조 말론 런던 카 디퓨저와 <br>함께 즐거운 드라이브를 완성보세요.
                    </p>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
            <div class="box4-2">
                <div class="content">
                    <div class="title">Blue Agava & Cacao Cologne</div>
                    <p>온라인 단독 아카이브 컬렉션<br>라틴음악의 리듬.
                    </p>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
            <div class="box4-3">
                <div class="content">
                    <div class="title">Lime Basil & Mandarin Home Candle</div>
                    <p>조 말론 런던의 모던한 클래식 제품으로<br>공간을 채워보세요.
                    </p>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
            <div class="box4-4">
                <div class="content">
                    <div class="title">English Pear & Freesia Body Creme</div>
                    <p>금빛의 감미로운 프루티 향을<br>피부에 은은하게 남겨보세요.
                    </p>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-inner">
            <div class="box5-1">
                <div class="box5-1-1">
                    <div class="title">title</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, illum? Cupiditate, unde doloribus. Eos nemo quae quisquam optio quibusdam ipsa commodi tenetur dignissimos, odit, ea corporis nostrum earum vero! Similique.</p>
                    <div class="btn">구경하기</div>
                </div>
                <div class="box5-1-2">
                    <img src="https://www.jomalone.co.kr/media/export/cms/landing_page/csr/people/Related_Stories_Charity_Desktop.jpg" alt="">
                </div>
            </div>
            <div class="box5-2-inner">
                <div class="box5-2">
                    <div class="box5-2-1">
                        <div class="title">title</div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, illum? Cupiditate, unde doloribus. Eos nemo quae quisquam optio quibusdam ipsa commodi tenetur dignissimos, odit, ea corporis nostrum earum vero! Similique.</p>
                        <div class="btn">구경하기</div>
                    </div>
                    <div class="box5-2-2">
                        <img src="https://www.jomalone.co.kr/media/export/cms/stories/September_22/22C10_Stories_Sep-EPF_Related_Stories_Desktop.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="box5-3">
                <div class="box5-3-1">
                    <div class="title">title</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, illum? Cupiditate, unde doloribus. Eos nemo quae quisquam optio quibusdam ipsa commodi tenetur dignissimos, odit, ea corporis nostrum earum vero! Similique.</p>
                    <div class="btn">구경하기</div>
                </div>
                <div class="box5-3-2">
                    <img src="https://www.jomalone.co.kr/media/export/cms/landing_page/csr/our_values/Landing-page_Values_02_Desktop.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="box6">
        <div class="box6-inner">
            <div class="box6-1">
                    <div class="title">Location</div>
                        <div class="mapBox">
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1645117.82033364!2d126.43313114157229!3d36.357854145344014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ee1e7baa55%3A0x5d8d600738408d6!2z7KGw66eQ66Gg65-w642Y!5e0!3m2!1sko!2skr!4v1699346333258!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <ul>
                                <li>서울시 강남구 강남대로 382 (역삼동) 메리츠타워, 06232</li>
                                <li>(02) 6971-3228 </li>
                            </ul>
                        </div>
            </div>

            <div class="box6-2">
                <div class="title">SNS</div>
                <ul>
                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                    <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                    <li><a href="#"><i class="ri-twitter-x-line"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box7">
        <div class="box7-inner">
            <div class="footer">
                <div class="info">
                    <ul>
                        <li>이엘씨에이한국(유) 대표: Teng, Hsiao-Hua (Catherine), 서울시 강남구 강남대로 382 (역삼동) 메리츠타워, 06232</li>
                        <li>사업자등록번호: 211-81-71889</li>
                        <li>통신판매업신고번호: 강남-15737호</li>
                        <li><a href="#">사업자정보조회</a></li>
                        <li>고객관리지원팀: <a href="#">(02) 6971-3228</a>  <a href="#">consumercare-kr@jomalone.com</a></li>
                        <li>호스팅서비스 사업자: ㈜엘지유플러스</li>
                    </ul>
                </div>
                <div class="logo">logo</div>
            </div>

            <div class="copy">
                &copy; Leesoomin 2023
            </div>
        </div>
    </div>
</body>
</html>