<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감귤박물관_레이아웃001</title>
</head>

<!-- 외부스타일시트 연결 -->
<link rel="stylesheet" href="style_001.css">

<!-- 그리드 가이드 연결
<link rel="stylesheet" href="grid-guide.css"> -->

<body>
    <header>
        <div class="box1">
            <div class="logo">
                <h1>logo</h1>
            </div>
    
            <div class="menu">
                <ul>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="box2">
        <div class="title">Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia perspiciatis vitae maxime, minus iure voluptas facilis consequatur commodi minima voluptate dicta magni, modi sunt! Minus iure recusandae velit quos!</p>
        <div class="btn">button</div>
    </div>

    <div class="box3">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>
    </div>

    <div class="box4">
        <div class="imgBox">
            <img src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?auto=format&fit=crop&q=80&w=3744&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>

        <div class="txtBox">
            <div class="title">
                Title
            </div>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia perspiciatis vitae maxime, minus iure voluptas facilis consequatur commodi minima voluptate dicta magni, modi sunt! Minus iure recusandae velit quos!</p>
    
            <div class="btn">
                button
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5_innerBox">
            <div class="box5-1">
                <div class="imgBox">
                    <img src="img/layout001/001.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="box5-2">
                <div class="imgBox">
                    <img src="img/layout001/002.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="box5-3">
                <div class="imgBox">
                    <img src="img/layout001/003.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
    <div class="box6">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>
    </div>
    <div class="box7">
        <div class="txtBox">
            <div class="title">
                Title
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi fugiat earum suscipit doloremque alias, accusantium iste est voluptas odio omnis aliquam similique quas expedita tempora quibusdam, eos fuga eaque.</p>
        </div>

        <div class="imgBox">
            <div class="imgBox-1"><img src="https://cdn.pixabay.com/photo/2016/02/23/17/42/orange-1218158_1280.png" alt=""></div class="imgBox-1">
        </div>

    </div>
    <div class="box8">
            <div class="quick">
                <ul>
                    <li><a href="#">quick</a></li>
                    <li><a href="#">quick</a></li>
                    <li><a href="#">quick</a></li>
                </ul>
            </div>

            <div class="logo">
                logo
            </div>

            <div class="siteMap">
                <ul>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">LOCATION</a></li>
                </ul>
            </div>
    </div>
</body>
</html>