<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 000</title>

    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="style_000_01.css">

    <!-- 그리드가이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->

</head>
<body>
    <div class="box1">
        <div class="box1-1">
            <ul class="navi">
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>

        <div class="box1-2">감귤박물관</div>
    </div>

    <div class="box2">
        <div class="box2-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
        <div class="box2-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAXxbe1ShjhH88IsbCWkEvos2UTM5kLCcL3g&usqp=CAU" alt="">
        </div>
    </div>

    <div class="box3">
        <h2>Title</h2>
        <p>Icon</p>
        <div>별점 Set</div>
    </div>

    <div class="box4">
        <div class="box4-1">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDFfMjAx/MDAxNjI3ODA4Mzc3MDQ3.Aq76piR34V5BlV1zTNNRO_XFpw6VBp53VUgAblDdFbIg.lCLUTnrfGNPoTZbD_Ax_r_VAybCkjagR8RAzjhLCrjQg.JPEG.unyoung3155/%EB%AA%A8%EC%9D%B4%EC%86%8C22.jpg?type=w800" alt="">
        </div>
        <div class="box4-2"><h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
    </div>

    <div class="box5">
        <h2>Title</h2>
        <p>Icon</p>
        <div>어워드 Set</div>
    </div>

    <div class="box6">
        <div class="box6-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, blanditiis. Debitis sunt incidunt doloremque mollitia quod unde eos officia itaque, voluptatem laudantium temporibus modi, excepturi eligendi saepe impedit! Officia, recusandae.</p>
        </div>
        <div class="box6-2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.8076347727947!2d126.60508547686457!3d33.27152805854839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x350c54cb0626e143%3A0x5d4025946e2f852c!2z6rCQ6rek67CV66y86rSA!5e0!3m2!1sko!2skr!4v1698893515231!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>

    <div class="box7">
        <div class="box7-1">
            <h2>Title</h2>
            <div>Icon Set</div>
        </div>
        <div class="box7-2">
            <ul>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
            </ul>
        </div>
    </div>






</body>
</html>